<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973443256578-f76ccabgk3stn0eru2sh7c7vfav35ihe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973443256578-f76ccabgk3stn0eru2sh7c7vfav35ihe</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OtZIY0OqB9yORLFWwkwqMGlYTOtryBo</string>
	<key>GCM_SENDER_ID</key>
	<string>973443256578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simranvirdi.-43App</string>
	<key>PROJECT_ID</key>
	<string>app-fbc5d</string>
	<key>STORAGE_BUCKET</key>
	<string>app-fbc5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973443256578:ios:a6567a0a5992fcb6ab321b</string>
</dict>
</plist>